[submodule "Vendor/xctoolchain"]
	path = Vendor/xctoolchain
	url = https://github.com/parse-community/xctoolchain.git
[submodule "Carthage/Checkouts/OCMock"]
	path = Carthage/Checkouts/OCMock
	url = https://github.com/erikdoe/OCMock.git
